header {
    background: #568EA6;
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: black;
}

a:hover {
    color: black;
}